.feature_container {
  max-width: 80rem;
  margin: 4.73rem auto;

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      color: #000;
      font-size: 2.25rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    a {
      color: #be123c;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5rem; /* 133.333% */
    }
  }

  .movie_deck {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
    margin-top: 2.75rem;
  }
}
